body{
    background-color: rgb(36, 35, 35);
}
.jumbotron{
    background-color: rgba(212, 129, 4, 0.788);
}

.table td{
    background-color: darkgrey;
}

.table th{
    background-color: darkgrey;
}

u{
    color: rgba(212, 129, 4, 0.788);
}

h4{
    color: rgba(212, 129, 4, 0.788);
}

p{
    color: rgba(212, 129, 4, 0.788);
}

h3{
    color: rgba(212, 129, 4, 0.788);
}