<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel = "stylesheet" href = "..\static\style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  

</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h2>Mission to Mars</h2>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
  </div>

  <div class="row" id="mars-news">
    <div class="col-md-12">
      <div class="media">
        <div class="media-body">
          <h2><u>Latest Mars News</u></h2>
          <h4 class="media-heading">{{mars.news_title}}</h4>
          <p>{{mars.news_paragraph}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 border">
      <h2 class="text-center"><u>Featured Mars Image</u></h2>
      <hr>
      <img src="{{mars.featured_image_url}}" alt="Features Mars Image" height=80% width=100%>
    </div>
    <br>
    <div class="col-md-6">
      <div class="border table table-striped" align='center'>
        <h2 align='center'><u>Mars Facts</u></h2>
        <hr>
        <table>{{ mars.mars_table | safe}}</table>
      </div>
    </div>

    <div class="row" id="mars-hemispheres" style="margin-top:80px;">
      <div class="page-header col-md-12">
        <h2 class="text-center"><u>Mars Hemispheres</u></h2>
      </div>
      {% for hemisphere in mars.hemisphere_imgs_urls %}
        <div class="col-md-6">
            <div class="thumbnail" align='center' >
            <!-- if images is False/None/non-existent, then default to error message -->
            <img src="{{ hemisphere.Image_URL | default('error.png', true)}}"
                alt="{{hemisphere.Title}}" height=50% width=50%>
            <div class="caption" align='center'>
                <h3>{{hemisphere.Title}}</h3>
            </div>
            </div>
        </div>
      {% endfor %}
    </div>
 


</body>

</html>